## Apply Linear Regression for Classification
### Applying linear regression changing the features = x1^2 , x2^2 , x3^2 , x4^2 , x1.x2 , x2.x3 .. on Diabetes and Iris dataset

## IRIS DATASET

In [75]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import cross_validation
iris = pd.read_csv("iris.csv")

In [76]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [77]:
#Replacing string values in species column with integers
iris['species'].replace(['setosa' , 'virginica' , 'versicolor' ] , [0 , 1 , 2] , inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [78]:
iris.columns = ['x1' , 'x2' , 'x3' , 'x4' , 'y']
iris.head()

    x1   x2   x3   x4  y
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [79]:
#Separating Y column
Y = iris["y"]
del iris["y"]
iris.head()

    x1   x2   x3   x4
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

### First apply Linear Regression directly and find score for the same.
### Add columns (x1.x1 , x1.x2 ...) and apply Linear Regression and compare the scores.

In [80]:
clf = LinearRegression()
X_Train , X_Test , Y_Train , Y_Test = cross_validation.train_test_split(iris , Y , test_size = 0.2)
clf.fit(X_Train , Y_Train)
score = clf.score(X_Test , Y_Test)
print("Score by directly applying linear regression" , score)

Score by directly applying linear regression 0.501962327713

In [81]:
#Adding new columns like x1^2 , x2^2 , x1.x2 and so on to our dataset

def addColumns(iris):
    for i in range(1 , 5):
        for j in range(i , 5):
            colName = "x" + str(i) + "x" + str(j)
            iris[colName] = iris["x" + str(i)]*iris["x" + str(j)]
    return iris

In [82]:
iris = addColumns(iris)
iris.head()

,x1,x2,x3,x4,x1x1,x1x2,x1x3,x1x4,x2x2,x2x3,x2x4,x3x3,x3x4,x4x4
0,5.1,3.5,1.4,0.2,26.01,17.85,7.14,1.02,12.25,4.90,0.70,1.96,0.28,0.04
1,4.9,3.0,1.4,0.2,24.01,14.70,6.86,0.98,9.00,4.20,0.60,1.96,0.28,0.04
2,4.7,3.2,1.3,0.2,22.09,15.04,6.11,0.94,10.24,4.16,0.64,1.69,0.26,0.04
3,4.6,3.1,1.5,0.2,21.16,14.26,6.90,0.92,9.61,4.65,0.62,2.25,0.30,0.04
4,5.0,3.6,1.4,0.2,25.00,18.00,7.00,1.00,12.96,5.04,0.72,1.96,0.28,0.04

In [83]:
from sklearn.linear_model import LinearRegression
from sklearn import cross_validation

In [84]:
clf = LinearRegression()
X_Train , X_Test , Y_Train , Y_Test = cross_validation.train_test_split(iris , Y , test_size = 0.2)

In [85]:
clf.fit(X_Train , Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [86]:
Y_predict = clf.predict(X_Test)
Y_predict

array([ 0.05850253,  1.79448081,  1.8901647 ,  1.68170094,  2.09155323,
        1.8614366 ,  1.8177032 ,  1.39989453,  1.1824412 ,  0.05673063,
        1.68373401,  1.77106462,  0.4564629 ,  0.20389667, -0.11333319,
       -0.0142106 ,  1.70231601,  0.24950667,  0.44847961,  0.97558138,
        1.86255269,  1.98890718,  2.02589285,  1.53273172, -0.01286243,
       -0.19867278,  1.69235037,  1.83810534,  0.32091815,  1.79045943])

In [88]:
score = clf.score(X_Test, Y_Test)
print("Score evaluated by adding columns and applying Linear Regression = " , score )

Score evaluated by adding columns and applying Linear Regression =  0.878122769628

## DIABETES DATASET

In [90]:
diabetes = pd.read_csv("pima-indians-diabetes.csv" , names = ['x1' , 'x2' , 'x3' , 'x4' , 'x5' , 'x6' , 'x7' , 'x8' , 'y'])
diabetes.head()

   x1   x2  x3  x4   x5    x6     x7  x8  y
0   6  148  72  35    0  33.6  0.627  50  1
1   1   85  66  29    0  26.6  0.351  31  0
2   8  183  64   0    0  23.3  0.672  32  1
3   1   89  66  23   94  28.1  0.167  21  0
4   0  137  40  35  168  43.1  2.288  33  1

In [91]:
#Separating y
Y = diabetes['y']
del diabetes['y']
diabetes.head()

   x1   x2  x3  x4   x5    x6     x7  x8
0   6  148  72  35    0  33.6  0.627  50
1   1   85  66  29    0  26.6  0.351  31
2   8  183  64   0    0  23.3  0.672  32
3   1   89  66  23   94  28.1  0.167  21
4   0  137  40  35  168  43.1  2.288  33

In [92]:
clf = LinearRegression()
X_Train , X_Test , Y_Train , Y_Test = cross_validation.train_test_split(diabetes , Y , test_size = 0.2)
clf.fit(X_Train , Y_Train)
score = clf.score(X_Test , Y_Test)
print("Score by directly applying linear regression" , score)

Score by directly applying linear regression 0.266516526292

In [93]:
#Adding columns to the dataframe

def addColumns(diabetes):
    for i in range(1 , 9):
        for j in range(i , 9):
            colName = "x" + str(i) + "x" + str(j)
            diabetes[colName] = diabetes["x" + str(i)] * diabetes["x" + str(j)]
    return diabetes

In [94]:
diabetes = addColumns(diabetes)
diabetes.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x1x1,x1x2,...,x5x5,x5x6,x5x7,x5x8,x6x6,x6x7,x6x8,x7x7,x7x8,x8x8
0,6,148,72,35,0,33.6,0.627,50,36,888,...,0,0.0,0.000,0,1128.96,21.0672,1680.0,0.393129,31.350,2500
1,1,85,66,29,0,26.6,0.351,31,1,85,...,0,0.0,0.000,0,707.56,9.3366,824.6,0.123201,10.881,961
2,8,183,64,0,0,23.3,0.672,32,64,1464,...,0,0.0,0.000,0,542.89,15.6576,745.6,0.451584,21.504,1024
3,1,89,66,23,94,28.1,0.167,21,1,89,...,8836,2641.4,15.698,1974,789.61,4.6927,590.1,0.027889,3.507,441
4,0,137,40,35,168,43.1,2.288,33,0,0,...,28224,7240.8,384.384,5544,1857.61,98.6128,1422.3,5.234944,75.504,1089

In [95]:
clf = LinearRegression()

In [96]:
X_Train , X_Test , Y_Train , Y_Test = cross_validation.train_test_split(diabetes , Y , test_size = 0.2)

In [97]:
clf.fit(X_Train , Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [98]:
Y_predict = clf.predict(X_Test)
Y_predict[0:10]

array([ 0.18301411,  0.24073702,  0.09370514,  0.40377918,  0.56599859,
        0.29089719, -0.09413542,  0.41118897,  0.23754064,  0.75134645])

In [99]:
score = clf.score(X_Test , Y_Test)
print("Score = " , score)

Score =  0.294908553387

## Logistic Regression

#### Unlike the name, Logistic regression is a classification algorithm. The equation of logistic regression ia same as the equation of linear regression ( m1.x1 + m2.x2 + m3.x3 + m4.x4 + .... + b ). The only difference is that predicted values of logisic regression are either 0 or 1. This happens due to the core function working at the heart of this algorithm, called, **sigmoid function** ( also called logistic function ).
#### The **sigmoid function** can be represented as follows :

<img src = "1.png">

#### In the above figure, Z = ( m1.x1 + m2.x2 + m3.x3 + m4.x4 + .... + b )