## Apply Linear Regression for Classification
### Applying linear regression changing the features = x1^2 , x2^2 , x3^2 , x4^2 , x1.x2 , x2.x3 .. on Diabetes and Iris dataset

## IRIS DATASET

In [9]:
import pandas as pd
iris = pd.read_csv("iris.csv")

In [13]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [12]:
#Replacing string values in species column with integers
iris['species'].replace(['setosa' , 'virginica' , 'versicolor' ] , [0 , 1 , 2] , inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [14]:
iris.columns = ['x1' , 'x2' , 'x3' , 'x4' , 'y']
iris.head()

    x1   x2   x3   x4  y
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [23]:
#Adding new columns like x1^2 , x2^2 , x1.x2 and so on to our dataset

def addColumns(iris):
    for i in range(1 , 5):
        for j in range(i , 5):
            colName = "x" + str(i) + "x" + str(j)
            iris[colName] = iris["x" + str(i)]*iris["x" + str(j)]
    return iris

In [24]:
iris = addColumns(iris)
iris.head()

,x1,x2,x3,x4,y,x1x1,x1x2,x1x3,x1x4,x2x2,x2x3,x2x4,x3x3,x3x4,x4x4
0,5.1,3.5,1.4,0.2,0,26.01,17.85,7.14,1.02,12.25,4.90,0.70,1.96,0.28,0.04
1,4.9,3.0,1.4,0.2,0,24.01,14.70,6.86,0.98,9.00,4.20,0.60,1.96,0.28,0.04
2,4.7,3.2,1.3,0.2,0,22.09,15.04,6.11,0.94,10.24,4.16,0.64,1.69,0.26,0.04
3,4.6,3.1,1.5,0.2,0,21.16,14.26,6.90,0.92,9.61,4.65,0.62,2.25,0.30,0.04
4,5.0,3.6,1.4,0.2,0,25.00,18.00,7.00,1.00,12.96,5.04,0.72,1.96,0.28,0.04

In [28]:
#Separating Y column
Y = iris["y"]
Y[0:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: y, dtype: int64

In [29]:
del iris["y"]
iris.head()

,x1,x2,x3,x4,x1x1,x1x2,x1x3,x1x4,x2x2,x2x3,x2x4,x3x3,x3x4,x4x4
0,5.1,3.5,1.4,0.2,26.01,17.85,7.14,1.02,12.25,4.90,0.70,1.96,0.28,0.04
1,4.9,3.0,1.4,0.2,24.01,14.70,6.86,0.98,9.00,4.20,0.60,1.96,0.28,0.04
2,4.7,3.2,1.3,0.2,22.09,15.04,6.11,0.94,10.24,4.16,0.64,1.69,0.26,0.04
3,4.6,3.1,1.5,0.2,21.16,14.26,6.90,0.92,9.61,4.65,0.62,2.25,0.30,0.04
4,5.0,3.6,1.4,0.2,25.00,18.00,7.00,1.00,12.96,5.04,0.72,1.96,0.28,0.04

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn import cross_validation

/Users/melon/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [40]:
clf = LinearRegression()
X_Train , X_Test , Y_Train , Y_Test = cross_validation.train_test_split(iris , Y , test_size = 0.2)

In [41]:
clf.fit(X_Train , Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [42]:
Y_predict = clf.predict(X_Test)
Y_predict

array([ 1.18737249,  0.46656456,  1.92494932,  0.48530715,  1.50718163,
        1.79636389,  1.95813283,  0.26735435,  1.81229443,  0.66065398,
        1.86579036,  1.28271856,  1.15999316,  1.28624894,  0.54051551,
       -0.54838106,  1.6182984 ,  1.74654209,  1.45701187,  1.8669974 ,
        1.05780368,  1.33830995,  1.69383895,  0.33684771, -0.19186981,
        1.77168949,  0.07249894,  1.99925225, -0.10826216,  1.83099289])

In [43]:
score = clf.score(X_Test, Y_Test)
print("Score = " , score )

Score =  0.821865987931

## DIABETES DATASET

In [46]:
diabetes = pd.read_csv("pima-indians-diabetes.csv" , names = ['x1' , 'x2' , 'x3' , 'x4' , 'x5' , 'x6' , 'x7' , 'x8' , 'y'])
diabetes.head()

   x1   x2  x3  x4   x5    x6     x7  x8  y
0   6  148  72  35    0  33.6  0.627  50  1
1   1   85  66  29    0  26.6  0.351  31  0
2   8  183  64   0    0  23.3  0.672  32  1
3   1   89  66  23   94  28.1  0.167  21  0
4   0  137  40  35  168  43.1  2.288  33  1

In [47]:
#Separating y
Y = diabetes['y']
del diabetes['y']
diabetes.head()

   x1   x2  x3  x4   x5    x6     x7  x8
0   6  148  72  35    0  33.6  0.627  50
1   1   85  66  29    0  26.6  0.351  31
2   8  183  64   0    0  23.3  0.672  32
3   1   89  66  23   94  28.1  0.167  21
4   0  137  40  35  168  43.1  2.288  33

In [48]:
#Adding columns to the dataframe

def addColumns(diabetes):
    for i in range(1 , 9):
        for j in range(i , 9):
            colName = "x" + str(i) + "x" + str(j)
            iris[colName] = iris["x" + str(i)] * iris["x" + str(j)]
    return diabetes

## Logistic Regression

#### Unlike the name, Logistic regression is a classification algorithm. The equation of logistic regression ia same as the equation of linear regression ( m1.x1 + m2.x2 + m3.x3 + m4.x4 + .... + b ). The only difference is that predicted values of logisic regression are either 0 or 1. This happens due to the core function working at the heart of this algorithm, called, **sigmoid function** ( also called logistic function ).
#### The **sigmoid function** can be represented as follows :

<img src = "1.png">

#### In the above figure, Z = ( m1.x1 + m2.x2 + m3.x3 + m4.x4 + .... + b )